body{
margin: 0;
padding: 0;
display: block;
background-color: grey;
}

#header{
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: medium;
  z-index: 1;
}

#header-img{
  position: relative;
  width: 50%;
  height: 40%;
  padding-top: 20px;


}

#nav-bar{
  position: relative;
  background-color: white;
  width: 75%;
  height: 20%;
  display: flex;

}

ul{
  width:60%;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: flex-end;
  color: black;
  list-style-type: none;
  font-size: 20px;
}

#logo{
  height: 60%;
  width: 30%;
  margin-left: 10px;
}

#inner-container{
  background-color: white;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  margin-top: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#email{
  position: relative;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 12px;
  height: 20px;
}

#input{
  width: 100%;
}

#submit{
  position: relative;
  width: 20%;
  height: 40px;
  margin-left: 40%;
  margin-right: 40%;
  border: none;
  background-color: orange;

}

#video{
  position: relative;
  width:60%;
  margin-left: 22%;
  margin-right: 18%;
  margin-top: 20px;
}

.grid{
  display: flex;
  margin-top: 20px;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  width: 20%;
  height: 100%;
  color: darkorange;
}



.fa, .fas{
  font-weight: 900;
}

.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  width: 80%;

}

h3{
  margin: 0;
  font-size: 25px;
}

h2{
  text-align: center;
  margin: 0;
}

ol{
list-style-type: none;
text-align: center;
padding-left: 0;
margin-top: 0;
}

li{
  padding-top: 10px;
}

#Pricing{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.price-tag{
  border-style: solid;
  border-width: medium;
  border-color: black;
  margin-top: 20px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#price-header{
  width: 100%;
  height: 20%;
  text-align: center;
  margin-bottom: 10px;
  background-color: grey;
  position: relative;
  top: 0;
}

.btn{
  width: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  height: 30px;
  border-style: none;
}

@media screen and (max-width: 920px) {
  ul {
    flex-wrap: wrap;
  }

  h3{
    font-size: 17px;
  }
}
